
body {
	background:
	url(images/mariobackground.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.newBtn {
	font-family: 'Rubik Mono One', sans-serif;
	text-shadow: -1px 0 #968a59, 0 1px #968a59, 1px 0 #968a59, 0 -1px #968a59;
	font-size: 20px;
	background-color: #ffc61e;
	color: white;
	border-color: #968a59;
	margin-left: 40px;
}

#btnValue {
	margin-left: 40px;
}

.getgifs {
	font-family: 'Rubik Mono One', sans-serif;
	text-shadow: -1px 0 #968a59, 0 1px #968a59, 1px 0 #968a59, 0 -1px #968a59;
	font-size: 15px;
	margin-top: 15px;
	margin-left: 15px;
	background-color: #ffc61e;
	color: white;
	border-color: #968a59;
}

.gifRating {
	padding: 2px;
	margin-top: 5px;
	margin-left: 15px;
	position: absolute;
	float: left;
	text-shadow: -1px 0 #968a59, 0 1px #968a59, 1px 0 #968a59, 0 -1px #968a59;
	color: white;
}

.postGif {
	padding-top: 20px;
	margin-top: 20px;
	margin-left: 15px;
}

.apndDiv {
	float: left;
}

.addsomething {
	color: white;
	margin-top: 20px;
	margin-left: 40px;
}