
.addButtons {
	margin-top: 20px;
	margin-left: 20px;
}

.getgifs {
	margin-top: 15px;
	margin-left: 15px;
}

.gifRating {
	padding: 2px;
	margin-top: 15px;
	margin-left: 15px;
	position: absolute;
	float: left;
}

.postGif {
	padding-top: 20px;
	margin-top: 20px;
	margin-left: 15px;
}

.apndDiv {
	float: left;
}